/* Fonts
========================================*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

/* Project variables
========================================*/

:root {
    --dark: #292929;
    --font-dark: #1f1f1f;
    --ligth-gray: #dddddd;
    --dark-gray: #767676;

    --content-width: 1100px;
}

/* Global styles
========================================*/

body,
html {
    margin: 0;
    color: var(--dark);
    line-height: 35px;
}

body {
    background: url(../img/background.jpg) fixed no-repeat top left;
    background-size: cover;
}

*,
*:before,
:after {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5 {}

ul {
    list-style-type: none;
}

/* header 
========================================*/

header {
    position: block;
    height: calc(100vh + 6vw);
    width: 100%;
    margin-bottom: 4vw;
    padding-bottom: 6vw;
    overflow: hidden;
    color: #1f1f1f;
    background-image: linear-gradient(-45deg, #892424, rgba(97, 148, 157, 0.89));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
}

.header-title {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    font-size: 21px;
    line-height: 60px;
    width: 100%;
    padding-bottom: 7vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
    background-color: rgba(0, 0, 0, 0.27);
}

h1 {
    padding-top: 2vw;
    margin-top: 0;
    color: var(--main-color);
}

.shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 8px;
}

.container {
    max-width: var(--content-width);
    margin: 0 auto;
}

header > .container {
    display: flex;
    align-items: center;
    height: calc(100% - 6vw);
    margin-top: 7vw;
}

.header__container-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 100px;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 24px;
    width: 24px;
    margin-right: 40px;
}

.text-block {
    display: flex;
    justify-content: flex-end;
}

.text-box {
    width: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 17px;
}

.text-box p {
    padding: 10px 20px;
}

/* navigation menu 
========================================*/

.header-nav {
    display: flex;
    grid-area: 2 / 2;
    justify-content: flex-end;
}

.header-nav__menu {
    position: relative;
    width: 500px;
    font-size: 0;
    margin-top: 10px;
}

.menu-item {
    text-decoration: none;
    line-height: 50px;
    height: 100%;
    padding: 5px 10px;
    color: black;
    font-size: 17px;
    color: var(--font-dark);
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.header-nav__menu .animate-menu {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.33);
}

.menu-item:nth-child(1) {
    width: 22%;
}

.menu-item:nth-child(2) {
    width: 22%;
}

.menu-item:nth-child(3) {
    width: 30%;
}

.menu-item:nth-child(4) {
    width: 2%;
}

.header-nav__menu .start-home,
.menu-item:nth-child(1):hover ~ .animate-menu {
    width: 22%;
    left: 0;
}

.header-nav__menu .start-about-us,
.menu-item:nth-child(2):hover ~ .animate-menu {
    width: 22%;
    left: 22%;
}

.header-nav__menu .start-our-services,
.menu-item:nth-child(3):hover ~ .animate-menu {
    width: 30%;
    left: 44%;
}

.header-nav__menu .start-portefolio,
.menu-item:nth-child(4):hover ~ .animate-menu {
    width: 26%;
    left: 74%;
}

/* for mobile devices */

.mobile__header-nav__menu {
    display: none;
    position: relative;
}

.mobile__header-nav__menu ul {
    padding: 0;
}

.mobile__header-nav__menu .menu-item {
    width: 100%;
    padding: 10px 60px;
}

.mobile__header-nav__menu .animate-menu {
    position: absolute;
    border-radius: 8px;
    width: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    background-color: rgba(255, 255, 255, 0.33);
}

.mobile__header-nav__menu .start-home,
.menu-item:nth-child(1):hover ~ .mobile-animate-menu {
    height: 70px;
    top: 16px;
}

.header-nav__menu .start-about-us,
.menu-item:nth-child(2):hover ~ .animate-menu {
    width: 22%;
    left: 22%;
}

.header-nav__menu .start-our-services,
.menu-item:nth-child(3):hover ~ .animate-menu {
    width: 30%;
    left: 44%;
}

.header-nav__menu .start-portefolio,
.menu-item:nth-child(4):hover ~ .animate-menu {
    width: 26%;
    left: 74%;
}

/* logo
========================================*/

.logo-block {
    width: 250px;
}

.logo {
    width: 100%;
}

/* main
========================================*/

main {
    width: 100%;
}

main * {
    margin-top: 0;
}

.diagonal-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: calc(10vh + 6vw);
    padding-bottom: calc(10vh + 6vw);
    margin-top: 6vw;
    margin-bottom: 6vw;
    clip-path: polygon(0 0, 100% 6vw, 100% 100%, 0 calc(100% - 6vw));
    background-color: var(--dark);
    color: var(--ligth-gray);
}

.diagonal-section .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 60px;
}

.img {
    border: 1px solid #a8a8a8;
}

.quote {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.hover-img {
    display: flex;
    position: absolute;
    top: 100px;
    left: 500px;
}

.img-top {
    width: 500px;
}

/* intro 
========================================*/

.intro {
    text-align: right;
    position: relative;
}

.intro__vertical-title {
    writing-mode: tb-rl;
    transform: rotate(360deg);
    font-size: 20px;
}

.intro__title {
    font-size: 32px;
}

.intro__background-image {
    margin-right: 20%;
    position: relative;
}

.intro__background-image img {
    width: 100%;
    display: block;
}

.intro__foreground-image {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    width: 60%;
    top: 50%;
    transform: translate(0, -50%);
}

.intro__foreground-image img {
    width: 100%;
}

/* column-section 
========================================*/

.column-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}

/* info 
========================================*/

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}

.info-item {
    text-align: center;
}

/* slider 
========================================*/

.slider {
    width: 100%;
    height: 88vh;
    background-color: var(--dark);
    position: relative;
}

.slider-item {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-item img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.diagonal-section-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 70px;
}

.slider-prev {
    position: absolute;
    top: 50%;
    left: 1vh;
    width: 3vw;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.slider-next {
    position: absolute;
    top: 50%;
    right: 1vh;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.slider__dot-box {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    cursor: default;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    cursor: pointer;
}

/* map 
========================================*/

.map {
    width: 100%;
    height: 80vh;
    margin-bottom: 50px;
}

.diagonal-section-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 70px;
}

/* footer 
========================================*/

footer {
    position: relative;
    height: calc(100vh + 6vw);
    width: 100%;
    clip-path: polygon(0 0, 100% 6vw, 100% 100%, 0 100%);
    color: #1f1f1f;
    background-image: linear-gradient(-45deg, #892424, rgba(97, 148, 157, 0.88));

    padding-top: calc(6vw + 8vh);
}

.footer-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-content__contacts {
    width: 100%;
    padding-right: 25px;
    text-align: center;
}

.footer-content__navigation {
    width: 100%;
    padding-left: 25px;
}

.navigation-container,
.contacts-container {
    width: 100%;
    padding: 25px;
    text-align: center;
}

.footer-content__social {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-content__list {
    padding: 20px 0;
}

.send-btn {
    padding: 8px 20px;
    color: var(--font-dark);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.23);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.send-btn:hover {
    background-color: rgba(255, 255, 255, 0.43);
}

.social-logo {
    width: 10vw;
}

.social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.social-item {
    padding: 5px;
    margin: 15px 5px;
}

.social-links a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.social-links a {
    padding: 15px 5px 0 5px;
    border-radius: 8px;
}

.social-links svg {
    height: 25px;
    width: 25px;
}

.contacts-title,
.navigation-title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.navigation-list a {
    text-decoration: none;
    color: var(--font-dark);
    font-size: 18px;
    padding: 5px 40px;
}

.navigation-list a:hover {
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 8px;
}

.autor {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.autor > a {
    text-decoration: none;
    font-weight: 700;
    color: #9e8eac;
}

/* @media 
========================================*/

@media screen and (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
}

@media (max-width: 980px) {
    .container {
        max-width: 790px;
    }

    .text-box {
        width: auto;
    }

    .header-nav {
        grid-area: 2 / 1 / 2 / 3;
        justify-content: center;
    }

    .intro__vertical-title {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .container {
        max-width: 96vw;
    }
}

@media screen and (max-width: 600px) {

    header {
        height: auto;
    }

    
    h1 {
        color: var(--main-color);
    }
    .header-title {
        position: relative;
        text-align: center;
    }

    .header__container-content {
        display: grid;
        grid-template-columns: 1fr 0;
        grid-template-rows: 1fr 1fr auto auto;
        grid-row-gap: 10vh;
    }

    .logo-block,
    .navigation-block {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo-block {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        grid-area: 1 / 1 / 1 / 3;
        width: 60vw;
    }

    .navigation-block {
        grid-area: 2 / 1 / 2 / 3;
    }

    .header-nav {
        grid-area: 3 / 1 / 3 / 3;
        justify-content: center;
    }

    .intro__foreground-image {
        display: none;
    }

    .text-box {
        width: 100%;
        font-size: 20px;
    }

    .mobile__header-nav__menu {
        display: block;
    }

    .header-nav__menu {
        display: none;
        width: 100%;
        font-size: 20px;
    }

    .menu-item {
        font-size: 22px;
    }

    .intro__background-image {
        margin-right: 0;
        position: relative;
    }

    .info {
        grid-column-gap: 3vh;
        grid-row-gap: 60px;
    }

    .slider-item img {
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
    }

    .footer-content {
        grid-template-columns: 1fr 0;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 40px;
        font-size: 20px;
    }

    .footer-content__contacts {
        padding-right: 0;
    }

    .footer-content__navigation {
        grid-area: 2 / 1 / 2 / 3;
        padding-left: 0;
    }

    footer {
        height: auto;
        padding-top: 9vw;
    }

    .navigation-list a {
        font-size: 22px;
    }

    .social-logo {
        width: 30vw;
    }

    .autor {
        font-size: 12px;
    }
}
